# 1.15.x
# CoFH Master AT List

public net.minecraft.block.RailState func_196910_b()I                                                                   # countAdjacentRails

public net.minecraft.client.multiplayer.PlayerController field_178895_c                                                 # currentBlock
public net.minecraft.client.multiplayer.PlayerController field_78770_f												    # curBlockDamageMP
public net.minecraft.client.multiplayer.PlayerController field_78778_j												    # isHittingBlock
public net.minecraft.client.multiplayer.PlayerController field_85183_f													# currentItemHittingBlock

public net.minecraft.client.renderer.WorldRenderer field_228415_m_                                                      # renderTypeTextures
public net.minecraft.client.renderer.WorldRenderer func_228429_a_(Lcom/mojang/blaze3d/matrix/MatrixStack;Lcom/mojang/blaze3d/vertex/IVertexBuilder;Lnet/minecraft/entity/Entity;DDDLnet/minecraft/util/math/BlockPos;Lnet/minecraft/block/BlockState;)V # drawSelectionBox

public net.minecraft.entity.LivingEntity func_70688_c(Lnet/minecraft/potion/EffectInstance;)V                           # onFinishedPotionEffect

public net.minecraft.entity.passive.horse.AbstractHorseEntity field_110296_bG                                           # horseChest

public net.minecraft.entity.player.ServerPlayerEntity func_70688_c(Lnet/minecraft/potion/EffectInstance;)V              # onFinishedPotionEffect

public net.minecraft.entity.projectile.AbstractArrowEntity field_70252_j                                                # ticksInGround
public net.minecraft.entity.projectile.AbstractArrowEntity field_70255_ao                                               # damage
public net.minecraft.entity.projectile.AbstractArrowEntity field_70256_ap                                               # knockbackStrength
public net.minecraft.entity.projectile.AbstractArrowEntity field_70257_an                                               # ticksInAir
public net.minecraft.entity.projectile.AbstractArrowEntity field_195056_av                                              # inBlockState

public net.minecraft.entity.projectile.FishingBobberEntity field_146042_b                                               # angler
public net.minecraft.entity.projectile.FishingBobberEntity field_191518_aw                                              # luck

public net.minecraft.inventory.container.Container field_75148_f                                                        # playerList
public net.minecraft.inventory.container.Container field_75149_d                                                        # listeners
public net.minecraft.inventory.container.Container field_94535_f                                                        # dragMode
public net.minecraft.inventory.container.Container field_94536_g                                                        # dragEvent
public net.minecraft.inventory.container.Container field_94537_h                                                        # dragSlots
public net.minecraft.inventory.container.Slot field_75225_a                                                             # slotIndex

public net.minecraft.item.AxeItem field_150917_c																		# EFFECTIVE_ON
public net.minecraft.item.HoeItem field_195973_b                                                                        # HOE_LOOKUP
public net.minecraft.item.PickaxeItem field_150915_c																	# EFFECTIVE_ON
public net.minecraft.item.ShovelItem field_150916_c																		# EFFECTIVE_ON

public net.minecraft.item.crafting.RecipeManager func_215366_a(Lnet/minecraft/item/crafting/IRecipeType;)Ljava/util/Map;    # getRecipes

public net.minecraft.network.play.ServerPlayNetHandler field_147365_f                                                   #floatingTickCount

public net.minecraft.resources.SimpleReloadableResourceManager field_199015_d                                           # reloadListeners

protected net.minecraft.tileentity.TileEntity field_195045_e                                                            # cachedBlockState